{% extends 'FreshBooksPicrBundle::layout.html.twig' %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
  $('.picr-joke').tooltip();

  $('#form_file').on('change', function() {
    var $el = $(this);
    var $submitBtn = $('#form_save');

    if ($el.val() != '') {
      $submitBtn.prop('disabled', false);
    } else {
      $submitBtn.prop('disabled', true);
    }
  });
</script>
{% endblock %}

{% block content %}
<div class="starter-template">
  <h1>Welcome to <span class="picr-joke" title="Like Imgur, get it?" data-toggle="tooltip" data-placement="top">Picr</span>!</h1>
  <p class="lead">Drag and drop your image into the zone below or use the manual upload at the bottom</p>

  <div id="dropzone">Dropzone</div>

</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    {{ form(form) }}
  </div>
</div>

{% endblock %}
