{% extends 'FreshBooksPicrBundle::layout.html.twig' %}

{% block content %}
    <h1 class="title">Welcome to Picr!</h1>

    <h2>Drag and drop your image into the zone below or use the manual upload</h2>

    <div></div>

{% endblock %}
